#app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    font-weight: 500;
}

li.hideLi {
    opacity: 0;
    background-color: #efeff4;
}

.mui-table-view:after {
    height: 0;
}

.page_Box {
    -wibkid-transition: -webkit-transform 0.5s;
    -webkit-transform-origin: 0 0;
}

.vote-main-content {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0;
}

.top-44 {
    top: 44px;
}

header.lib-header {
    padding-right: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #F6F6F6;
    background-color: #fff;
}

li.lib-list-item-wrapper {
    padding: 8px 15px;
    background-color: #fff;
}

.mui-table-view {
    background-color: #efeff4;
}

.cube-pullup-wrapper {
    font-size: 15px;
}

.lib-list-item .lib-img-wrapper {
    display: inline-block;
    margin-right: 14px;
    margin-top: 6px;
    vertical-align: top;
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36px 36px;
}

.lib-right-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 27px center;
    background-size: 18px 18px;
}

.lib-searchbtn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px 15px;
    height: 44px;
    border-bottom: 1px solid #F6F6F6;
    background-color: #fff;
}

.lib-searchbtn-wrapper .content {
    height: 100%;
    width: 100%;
    line-height: 27px;
    text-align: center;
    background-color: #F6F6F6;
    border-radius: 14px;
}

.lib-searchbtn-wrapper i.mui-icon.mui-icon-search.lib-serach-icon {
    font-size: 16px;
    color: #D0D0D0;
}

.lib-searchbtn-wrapper span.text {
    margin-left: 5px;
    font-size: 14px;
    color: #8F8F94;
}

.lib-list-item .lib-type-file {
    background-image: url(../img/file@2x.png);
}

.lib-list-item .lib-type-doc {
    background-image: url(../img/doc@2x.png);
}

.lib-list-item .lib-type-txt {
    background-image: url(../img/txt@2x.png);
}

.lib-list-item .lib-type-xls {
    background-image: url(../img/xls@2x.png);
}

.lib-list-item .lib-type-pdf {
    background-image: url(../img/pdf@2x.png);
}

.lib-list-item .lib-type-jpg {
    background-image: url(../img/jpg@2x.png);
}

.lib-list-item .lib-type-ppt {
    background-image: url(../img/ppt@2x.png);
}

.lib-list-item .lib-type-png {
    background-image: url(../img/png@2x.png);
}

.lib-list-item .lib-type-other {
    background-image: url(../img/other@2x.png);
}

.lib-list-item .lib-type-arrow {
    background-image: url(../img/arrow@2x.png);
}

.lib-list-item .lib-type-post {
    background-image: url(../img/post@2x.png);
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-device-pixel-ratio: 3) {
    .lib-list-item .lib-type-file {
        background-image: url(../img/file@3x.png);
    }
    .lib-list-item .lib-type-doc {
        background-image: url(../img/doc@3x.png);
    }
    .lib-list-item .lib-type-txt {
        background-image: url(../img/txt@3x.png);
    }
    .lib-list-item .lib-type-xls {
        background-image: url(../img/xls@3x.png);
    }
    .lib-list-item .lib-type-pdf {
        background-image: url(../img/pdf@3x.png);
    }
    .lib-list-item .lib-type-ppt {
        background-image: url(../img/ppt@3x.png);
    }
    .lib-list-item .lib-type-jpg {
        background-image: url(../img/jpg@3x.png);
    }
    .lib-list-item .lib-type-png {
        background-image: url(../img/png@3x.png);
    }
    .lib-list-item .lib-type-other {
        background-image: url(../img/other@3x.png);
    }
    .lib-list-item .lib-type-arrow {
        background-image: url(../img/arrow@3x.png);
    }
    .lib-list-item .lib-type-post {
        background-image: url(../img/post@3x.png);
    }
    .lib-nofile-wrapper {
        background-image: url(../img/null@3x.png);
    }
}

.lib-list-item .lib-img-content {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    line-height: 0;
}

.lib-img-content .title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 24px;
    font-size: 15px;
    color: #4A4A4A;
}

.lib-img-content .time {
    line-height: 24px;
    font-size: 14px;
    color: #ACACAC;
}


/* toast的一些样式 */

.lib-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background-color: #efeff4;
}

.lib-wrapper-s {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
}

.lib-toast-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 0;
}

.lib-toast-wrapper .lib-toast-content {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 3;
    width: 160px;
    height: 160px;
    padding-top: 30px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #111;
    opacity: 0.7;
}

.toast-img-wrapper {
    width: 100%;
    text-align: center;
}

.lib-toast-title {
    margin-top: 18px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.lib-toast-email {
    margin-top: 7px;
    line-height: 18px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

.lib-scroll-wrapper {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 0;
}

.lib-iframe-wrapper {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

iframe.lib-open-iframe {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.lib-loading-wrapper {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 99;
}

.lib-nofile-container {
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.lib-nofile-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../img/null@2x.png);
    background-repeat: no-repeat;
    background-position: center 35%;
    background-size: 150px;
}

.lib-neterror-wrapper {
    width: 100%;
    height: 100%;
    background-image: url(../img/neterror@2x.png);
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: 250px;
}

.lib-nofile-desc {
    line-height: 20px;
    font-size: 15px;
    color: #999;
}

.lib-loading {
    width: 100%;
    text-align: center;
}

.lib-loading-desc {
    line-height: 20px;
    font-size: 15px;
    color: #999;
}

.lib-toast-enter-active,
.lib-toast-leave-active {
    transition: all 0.3s;
    opacity: 1;
}

.lib-toast-enter,
.lib-toast-leave-to {
    opacity: 0;
}

.lib-slide-enter-active,
.lib-slide-leave-active {
    transition: all 0.3s;
}

.lib-slide-enter,
.lib-slide-leave-to {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
}


/* 搜索页面的一些样式 */

.lib-search-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    align-items: center;
    border-bottom: 1px solid #F6F6F6;
    background: #fff;
}

.lib-search-header .input-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 8px 62px 8px 13px;
}

.lib-search-header span.cancel-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    height: 100%;
    line-height: 43px;
    text-align: center;
    font-size: 17px;
    color: #000;
}

.lib-search-header .input-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.lib-search-header .input-wrapper input {
    padding: 0 30px;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 14px;
    font-size: 14px;
    color: #000;
    background-color: #F6F6F6;
}

.lib-search-header .input-wrapper input::placeholder {
    color: #8F8F94;
}

.lib-search-header i.search-icon.mui-icon.mui-icon-search {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    color: #D0D0D0;
}

i.delete-icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: url(../img/delete-icon.png) no-repeat;
    background-position: center;
    background-size: 15px;
}

.lib-search-noresult {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #929292;
}

.lib-search-loading-wrapper {
    margin: 0 auto;
    width: 160px;
    height: 50px;
    padding-top: 13px;
    text-align: center;
    background-color: #111;
    border-radius: 10px;
}

.lib-search-loading-wrapper span.text {
    margin-left: 6px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
}

.lib-search-loading-wrapper img {
    vertical-align: top;
}

.search-loading-wrapper {
    position: absolute;
    top: 100px;
    width: 100%;
    left: 0;
}

span.vote-header-right {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
    height: 100%;
    line-height: 44px;
    font-size: 14px;
    color: #333;
}

.mui-table-view:before {
    background-color: #F6F6F6;
}

.mui-table-view-cell:after {
    background-color: #F6F6F6;
    left: 0;
    transform: scaleY(1)
}

.cube-pullup-wrapper {
    margin-top: 30px;
}

i.lib-right-icon.mui-icon.mui-icon-arrowright.lib-arrow-right {
    padding-right: 10px;
    text-align: right;
    line-height: 64px;
    font-size: 18px;
    color: #CCC;
}